<section id="property-form">
	<small>We are currently only adding properties located in the US. <br>Stay tuned... Our programming team is working to add more locations.</small>

	<%= form_for(@property) do |p| %>
		<!-- begin if any property errors -->
			<!-- todo will render partial for form errors -->
		<!-- end if any errors saving, creating, editing property model -->
		<div class="row">

			<h2 id="property-deal-title" class="text-center">
				<!-- deal title field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Deal_title %>
						</span>
						<span class="field-input-area">
							<%= p.text_field :deal_title, class: 'form-control', placeholder: "eg. Wholesale deal Seattle - 45k profit" %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->
			</h2><!-- end property-deal-title -->

			<section id="property-address-details">

				<h3>Property Address</h3>

				<!-- property address unit field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Street_number %>
						</span>
						<span class="field-input-area">
							<%= p.text_field :address_street_number, class: 'form-control', placeholder: "123" %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->

				<!-- property street field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Street_name %>
						</span>
						<span class="field-input-area">
							<%= p.text_field :address_street_name, class: 'form-control', placeholder: "Main Street" %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->

				<!-- property unit number field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Unit_number %>
						</span>
						<span class="field-input-area">
							<%= p.text_field :address_unit_number, class: 'form-control', placeholder: "Apartment 2" %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->

				<!-- property city field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :City %>
						</span>
						<span class="field-input-area">
							<%= p.text_field :address_city, class: 'form-control', placeholder: "Property's City" %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->

				<!-- property state field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :State %>
						</span>
						<span class="field-input-area">
							<%= p.text_field :address_us_state, class: 'form-control', placeholder: "Property's City" %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->

				<!-- property zipcode field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Zipcode %>
						</span>
						<span class="field-input-area">
							<%= p.text_field :address_us_zipcode, class: 'form-control', placeholder: "Property's City" %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->	

			</section><!-- end #property-address-details -->	

			<section id="property-other-details">

				<h3>General Property Details</h3>

				<!-- property off market or not field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Off_market %>
						</span>
						<span class="field-input-area">
							<%= p.check_box :off_market, class: 'form-control' %>
							<!-- todo transformt this into only numbers -->
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->

				<!-- TODO if off market -->
				<!-- property off market or not field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Under_direct_contract, content: "Do you or your company have this property under contract yourself?" %>
						</span>
						<span class="field-input-area">
							<%= p.check_box :under_direct_contract, class: 'form-control' %>
							<!-- todo transformt this into only numbers -->
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->								

				<!-- property finished sf field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Finished_square_feet %>
						</span>
						<span class="field-input-area">
							<%= p.number_field :property_finished_sf, class: 'form-control', placeholder: "750" %>
							<!-- todo transformt this into only numbers -->
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->	

				<!-- property lot sf field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Lot_square_feet %>
						</span>
						<span class="field-input-area">
							<%= p.number_field :property_land_sf, class: 'form-control', placeholder: "900" %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->	

				<!-- property condition field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Condition_of_property, content: "What condition is this property currently in?" %>
						</span>
						<span class="field-input-area">
							<%= p.text_field :property_condition, class: 'form-control', placeholder: "Rent-ready, not fancy." %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->	

				<!-- property property description field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<!-- todo change this to be a text area, not text field. More description allowed. Also let them edit like in markdown -->
						<span class="field-label">
							<%= p.label :Property_description %>
						</span>
						<span class="field-input-area">
							<%= p.text_field :property_description, class: 'form-control', placeholder: "Ranch 2 bed, 2 bath, with pool and 2 car garage." %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->

				<!-- property features field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Specific_features_of_property %>
							<small>This should be profit minus all basic deal expenses.</small>
						</span>
						<span class="field-input-area">
							<%= p.text_area :property_features, class: 'form-control', placeholder: "Pool, 2 car driveway, HOA, next to school, close to public transit, no on main road." %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->								

			</section><!-- end #property-other-details -->

			<section id="deal-details">

				<h3>Deal Details</h3>

				<!-- property deal type field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Type_of_deal %>
						</span>
						<span class="field-input-area">
							<%= p.text_field :deal_type, class: 'form-control', placeholder: "As is, Turn key, rent ready Wholesale" %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->

				<!-- property deal urgency field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Urgency_of_deal %>
						</span>
						<span class="field-input-area">
							<%= p.text_field :deal_urgency, class: 'form-control', placeholder: "Must close by April 10th" %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->	

				<!-- property current value field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Current_property_value %>
							<small>All currency is in USD</small>
						</span>
						<span class="field-input-area">
							<%= p.number_field :property_current_value, class: 'form-control', placeholder: "415,000" %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->			

				<!-- property estimated ARV field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Estimated_ARV %>
							<small>All currency is in USD</small><br>
							<small>ARV = After Repair Value of recommended deal type</small>
						</span>
						<span class="field-input-area">
							<%= p.number_field :property_estimated_arv, class: 'form-control', placeholder: "550,000" %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->

				<!-- property renovations needed field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Renovations_needed %>
							<small>All currency is in USD</small>
						</span>
						<span class="field-input-area">
							<%= p.number_field :property_renovations_needed, class: 'form-control', placeholder: "30,000" %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->

				<!-- deal repair estimate attachment field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<!-- todo let them attach repair estimates as PDFs -->
						<span class="field-label">
							<%= p.label :TODO_Repair_estimate %>
							<small>All currency is in USD</small>
						</span>
						<span class="field-input-area">
							<%= p.check_box :deal_repair_estimate, class: 'form-control' %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->

				<!-- property estimated profit field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Estimated_profit %>
							<small>This should be profit minus all basic deal expenses.</small>
						</span>
						<span class="field-input-area">
							<%= p.number_field :estimated_profit, class: 'form-control', placeholder: "110,000" %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->		

				<!-- property financial calculations field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Financial_calculations %>
						</span>
						<span class="field-input-area">
							<%= p.text_area :financial_calculations, class: 'form-control', placeholder: "Optional: Use this space to show in hard numbers out how you arrived at the profit amount." %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->				

				<!-- property additional deal details field -->
				<div class="col-sm-6 text-center">
					<div class="field">
						<span class="field-label">
							<%= p.label :Anything_else_worth_mentioning %>
						</span>
						<span class="field-input-area">
							<%= p.text_field :deal_additional_details, class: 'form-control', placeholder: "In an age-regulated HOA community, over 55 years required primary resident." %>
						</span><!-- end .field-input-area -->
					</div><!-- end .field -->
				</div><!-- end .col-sm-6 -->

			</section><!-- end #deal-details -->		

		</div><!-- end .row -->

		<div class="action-button">
			<%= p.submit class: 'btn btn-primary btn-lg' %>
		</div><!-- end .action-button -->

	<% end %><!-- end form for property -->
</section><!-- end #property-form -->
