
<header>
	<div class="container">

		<p id="logo-brand"><%= link_to 'Property Investor', root_path %></p>
		<div id="hamburger">
			<%= fa_icon "bars" %>
		</div><!-- end #hamburger -->

		<nav id="main-navigation">
			<ul>
				<li><%= link_to 'Post a Property', new_property_path %></li>
				<li><%= link_to 'Search Properties', properties_path %></li>
				<li><%= link_to 'My Account', root_path %></li>
				<!-- todo if user not signed in -->
				<li><%= link_to 'Log In | Create Account', root_path %></li>
				<!-- todo if user signed in  -->
				<li><%= link_to 'Sign Out', root_path %></li>
			</ul>
		</nav>

	</div><!-- end .container -->
	
</header>