
<header>
	<nav>
	    <h1>
	        <%= link_to root_path do %>
	            <!-- displays on larger screen sizes -->
	            <%= image_tag('Property-investor-Logo-white.png') %>
	            <!-- displays on smaller screen sizes -->
	            
	            <p class="hidden orange">PropertyInvestor.io</p>
	        <% end %>
	    </h1>
	    <div id="xs_hamburger">
	        <div id="hamburger_icon">
	            <%= image_tag("list-menu.png") %>
	        </div>
	        <div id="menu_label">Menu</div>
	    </div>
	    <div id="nav_elements">
	        <ul>
	            <li><%= link_to "Properties", root_path %></li>
	            <li><%= link_to "Contact", contact_path %></li>
	        </ul>
	    </div>
	</nav>
</header>