<!-- contaienr for social media icons and links -->
	<!-- todo point all links to our real page links -->
<%= link_to ("https://www.facebook.com"), target: 'none' do %>
	<span class="social-icon">
		<%= fa_icon "twitter", alt: "Twitter" %>
	</span>
<% end %>
<%= link_to ("https://www.facebook.com"), target: 'none' do %>
	<span class="social-icon">
		<%= fa_icon "facebook", alt: "Facebook" %>
	</span>
<% end %>
<%= link_to ("https://www.facebook.com"), target: 'none' do %>
	<span class="social-icon">
		<%= fa_icon "linkedin", alt: "LinkedIn" %>
	</span>
<% end %>
<%= link_to ("https://www.youtube.com/channel/UC5zIySJhULiBxtMoM3jjorQ"), target: 'none' do %>
	<span class="social-icon">
		<%= fa_icon "youtube", alt: "YouTube" %>
	</span>
<% end %>
<%= link_to ("https://www.facebook.com"), target: 'none' do %>
	<span class="social-icon">
		<%= fa_icon "google", alt: "Google Plus" %>
	</span>
<% end %>
<%= link_to ("https://www.facebook.com"), target: 'none' do %>
	<span class="social-icon">
		<%= fa_icon "instagram", alt: "Instagram" %>
	</span>
<% end %>
