<!DOCTYPE html>
<html>
<head>
  <title>PropertyInvestor.io | <%= content_for(:subtitle) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="flash-messages-container">
		<p class="notice"><%= notice %></p>
    	<p class="alert"><%= alert %></p>
	</div>

	<%= render 'layouts/header' %>
	<!-- insert header here -->
	<!-- insert main beginning here -->
	<main id="<%= controller_name %>-<%= action_name %>">
		<div>
			<%= yield %>
		</div><!-- end div around the application yield -->
	</main>
	<!-- insert main ending here -->
	<!-- insert footer here -->
	<%= render 'layouts/footer' %>

	<!-- Owned by Virgo Ventures LLC | VirgoVentures.org -->

</body>
</html>
